{
	"gui" : {
		"close" : {
			"zlevel" : 3,
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset" : [0, 0],
			"position" : [379, 361]
		},  
		"background" : {
			"zlevel" : 0,
			"type" : "background",
			"fileHeader" : "/interface/scripted/xmodconfig/configmain/header.png",
			"fileBody" : "/interface/scripted/xmodconfig/configmain/body.png",
			"fileFooter" : "/interface/scripted/xmodconfig/configmain/footer.png"
		},
		"windowtitle" : {
			"type" : "title",
			"icon" : {
				"type" : "image",
				"file" : "/interface/crafting/craftingicon.png"
			},
			"title" : "Mod Configuration",
			"subtitle" : ""
		},
		"windowsubtitle" : {
			"type" : "label",
			"value" : ".",
			"position" : [29, 358]
		},
		"modtitle" : {
			"type" : "label",
			"value" : "",
			"position" : [264, 332],
			"hAnchor" : "mid",
			"vAnchor" : "mid",
			"fontSize" : 12
		},
		"modlist" : {
			"type" : "scrollArea",
			"rect" : [13, 35, 137, 341]
		},
		"modconfigs" : {
			"type" : "scrollArea",
			"rect" : [151, 35, 385, 301]
		}
	},
	"scriptWidgetCallbacks" : [ "ListButtonClicked", "ToggleButtonClicked", "TextBoxFinished", "HelpButtonPressed", "NullFunction" ],
	"scripts" : ["/interface/scripted/xmodconfig/configmain/modconfigui.lua"],
	"scriptDelta" : 30
}