{
	"gui" : {
		"background" : {
			"zlevel" : 1,
			"type" : "background",
			"visible" : false,
			"fileHeader" : "/interface/scripted/xmodconfig/configmain/configdesc/header.png",
			"fileBody" : "/interface/scripted/xmodconfig/configmain/configdesc/body.png",
			"fileFooter" : "/interface/scripted/xmodconfig/configmain/configdesc/footer.png"
		},
		"configtitle" : {
			"type" : "title",
			"icon" : {
				"type" : "image",
				"file" : "/interface/scripted/xmodconfig/configmain/configdesc/information.png"
			},
			"title" : "",
			"subtitle" : ""
		},
		"configdesc" : {
			"type" : "label",
			"value" : "",
			"position" : [3, 99],
			"wrapWidth" : 185,
			"vAnchor" : "top",
			"fontSize" : 8
		}
	}
}